.container {
    padding: 50px;
    display: flex;
  }
  
  .container1 {
    height: 100px;
    padding: 0px 60px;
    background-color: #d1411e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 2;
    z-index: 999;
  }
  .callButton1 {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
  }
  
  .listItem1 {
    margin: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .item {
    flex: 1;
  }
  
  .table {
    width: 100%;
    border-spacing: 20px;
    text-align: left;
  }
  
  .button {
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
  }
  
  .button:first-child {
    background-color: teal;
    margin-right: 10px;
  }
  
  .button:last-child {
    background-color: crimson;
  }
  
  .app {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
  }
  
  
  .search {
    padding: 10px;
    font-size: 20px;
  }
  
  .list {
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  .listItem {
    margin-bottom: 20px;
    font-size: 25px;
    color: #444;
    font-weight: 300;
  }
  
  .table {
    width: 100%;
    margin: 50px 0px;
    border-spacing: 15px;
    color: #444;
  }
  
  .tr {
    margin-bottom: 20px;
  }
  
  .th {
    width: 250px;
    text-align: left;
    font-size: 20px;
  }
  
  .td {
    width: 250px;
    font-size: 20px;
  }
  
  .mainAddButton {
    padding: 10px;
    margin: 20px;
    background-color: #d1411e;
    width: 150px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
  }